<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/final.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <img src="../assets/images/final.gif" alt="">
        </div>

        <div class="row">
            <h1>Yay, terminaste.</h1>
        </div>
    </div>
</body>
</html>