<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/signup.css">
  <title>Lyft</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col s1">
          <i id="back" class="material-icons Medium">first_page</i>
        </div>
        <div class="col">
          <img class="col s7 offset-s2" src="../assets/images/logo-pink.png" alt="">
        </div>
      </div>
    </div>

    <p>Join now for free ride credit</p>
  </header>
  <hr>
  <div class="container">
    <div class="row">
      <div class="input-field col s6">
        <select class="icons">
          <option value="" disabled selected>Choose your option</option>
          <option value="" data-icon="../assets/images/peru.png" class="left circle">Perú</option>
          <option value="" data-icon="../assets/images/spain.png" class="left circle">España</option>
          <option value="" data-icon="../assets/images/mexico.png" class="left circle">México</option>
          <option value="" data-icon="../assets/images/colombia.png" class="left circle">Colombia</option>
        </select>
        <label>Select your country</label>
      </div>
      <div class="input-field col s6">
        <input id="number" type="tel" class="validate">
        <label>Telephone</label>
      </div>
    </div>
  </div>

  <div class="row">
    <p>We'll send you a text to verify your number</p>
  </div>

  <div class="row">
    <button class="btn pulse pink darken-1" id="next" disabled>Next</button>
  </div>
  </section>


  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../js/signup.js"></script>
</body>

</html>